.signup{
    /* float: left; */
    /* margin: 10%; */
}

/* .signup input{
    width: 100px;
} */

.register {
  width: 50%;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
}

.register .ui.form .field input,
.register .ui.form button {
  width: 100%;
}

.register .ui.form button {
  margin-top: 10px;
}